<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Validation Exercise</title>
</head>
<body style="margin: 2rem; font: 14px Lucida Grande, Helvetica, Arial, sans-serif;">
    <h2>Validation exercise</h2>
    <form action="/phone-number" method="post">
        <label for="phone">Phone number:</label>
        <input type="text" id="phone" name="phone">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
